body 
{
    background-color:#f4efe6; 
    font-family: "Times New Roman", serif;
    margin: 0;
    padding: 20px;
}
.TieuDe 
{
    background-color: #c62828;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    margin-bottom: 15px;
    color: white;
    border-bottom:5px solid #fbc02d;
}

.BenTrai 
{
    display: flex;
    gap: 15px;
}
.MenuBenTrai 
{
    width: 220px;
    background:#f7e26b;
    padding: 10px;
    border-radius: 12px;
    min-height: 300px;
}
.MenuBenTrai a 
{
    display: block;
    margin:10px 0;
    cursor:pointer;
    border:2px solid #c62828;
    padding: 12px;
    text-decoration: none;
    background:#fff3b0;
    border-radius:8px;
    color: #333;   
   
}
.MenuBenTrai a:hover 
{
    background-color: #e3f2fd;
    border-radius: 8px;
}
.NoiDung 
{
    text-align: center;
    flex: 1;
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    min-height: 300px;
 }
footer
{
    background:#333;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:20px;
 }